<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      img {
        max-width: 100%;
        background-color: white;
      }
      body {
        background-color: #eee;
        margin: 0;
        padding: 0;
      }
      h1, h2 {
        margin: 0;
        padding: 1ex;
        color: white;
      }
      h1 {
        background-color: deepskyblue;
        border-bottom: darkblue dotted 2px;
      }
      h2 {
        background-color: gold;
        border-bottom: black dotted 2px;
      }
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    
  {{#svgs}}
    <h2>{{ title }}</h2>
    <img src="{{ svg }}" alt="{{title}}"/>
  {{/svgs}}

  </body>
</html>