<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      img {
        max-width: 100%;
        background-color: white;
      }
      body {
        background-color: #eee;
        margin: 0;
        padding: 0;
      }
      h1, h2 {
        margin: 0;
        padding: 1ex;
      }
      h1 {
        background-color: deepskyblue;
        border-bottom: darkblue dotted 2px;
        color: white;
      }
      h2 {
        margin-top: 1ex;
        background-color: gold;
        border-bottom: black dotted 2px;
        color: black;
      }
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    
  {{#svgs}}
    <h2>{{file_name}} {{#profile}} profile: {{profile}}{{/profile}}</h2>
    {{#not_in_api}}
      <a href="{{not_in_api}}">Missing in API</a>
      {{#not_in_sitemap}}, {{/not_in_sitemap}}
    {{/not_in_api}} 
    {{#not_in_sitemap}}
      <a href="{{not_in_sitemap}}">Missing in SiteMap</a>
    {{/not_in_sitemap}}
    <img src="{{ svg }}" alt="{{title}}"/>
  {{/svgs}}

  </body>
</html>